body {
  padding: 15px;
}

#backplate {
	position: relative; 
	top: 0; 
	left: 0; 
	z-index: -1;
}

#switch1 {
	position: absolute; 
	top: 235px; 
	left: 175px;
}

#switch2 {
	position: absolute; 
	top: 415px; 
	left: 175px;
}

#switch3 {
	position: absolute; 
	top: 595px; 
	left: 175px;

}